{{#if disabled}}
  {{#link-to 'login' class=linkClass}}
    <span class="glyphicon glyphicon-log-in"></span>
    Login
  {{/link-to}}
{{else}}
  <button type="button" {{action 'invalidateSession'}} class="{{linkClass}}">
    <span class="glyphicon glyphicon-log-out"></span>
    Logout
  </button>
{{/if}}