{{#if isSubscribed}}
  <button class="btn btn-default" type="button" {{action "unSubscribe"}}>Unsubscribe</button>
{{else}}
  <button class="btn btn-default" type="button" {{action "subscribe"}}>Subscribe</button>
{{/if}}
