<h1>{{model.user.displayName}} newsletters</h1>
<table class="table newsletters">
  {{#each model.newsletters as |newsletter|}}
    <tr class="newsletter">
      <td>
        {{#link-to 'user.newsletter' newsletter.id}}
          {{newsletter.name}}
        {{/link-to}}
      </td>
      <td class="newsletter-actions">
        {{subscription-btn newsletter=newsletter subscribe="subscribe" unSubscribe="unSubscribe"}}
      </td>
    </tr>
  {{/each}}
</table>